.App {
  text-align: center;
  background: #E8F7F6;
  padding-bottom: 5%;
  height: 100%;
}

.logo {
  padding-top: 5%;
}

.title{
  font-family: Freight Sans Pro, Helvetica, Roboto, Arial, sans-serif;
  font-weight: 700;
  font-size:  40px;
  color: #27A8B0;
  margin-top: 5px;
}

.sidebar {
  padding-right: 20px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background: transparent;
  overflow-x: hidden;
  padding-top: 20px;
  padding-right: 140px;
}

.legend.user {
  font-family: Freight Sans Pro, Helvetica, Roboto, Arial, sans-serif;
  font-weight: 700;
  color: #7a828e;
}

.legend.user.icon {
  border: 1px solid black;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 30%, #B8EDDE, #32C38E, #23A4D2);
  display: inline-block;
  padding: 20px;
  margin: 0px;
  font-family: Freight Sans Pro, Helvetica, Roboto, Arial, sans-serif;
}

.legend.comp {
  font-family: Freight Sans Pro, Helvetica, Roboto, Arial, sans-serif;
  font-weight: 700;
  color: #7a828e;
}

.legend.comp.icon {
  border: 1px solid black;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 30%, #898695,#484453, #484453);
  display: inline-block;
  padding: 20px;
  margin: 0px;
  font-family: Freight Sans Pro, Helvetica, Roboto, Arial, sans-serif;
}

.board-container {
  border: 4px solid grey;
  width: 430px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #deb887;
  box-shadow: .5px .5px .7px .7px grey;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
}

.cell {
  border: 1px solid black;
  background: #E8F7F6;
  border-radius: 100%;
  display: inline-block;
  padding: 40px;
  margin: 5px;
  cursor: pointer;
  transition: .25s all;
  box-shadow: .1px .1px .1px .1px inset;
}

.cell:hover {
  border: 1px solid yellow;
}

.cell:active{
  padding: 38.5px;
  margin: 6.5px;
}

.cell.comp {
  background: radial-gradient(circle at 50% 30%, #898695, #484453, #484453);
}

.cell.p1 {
  background: radial-gradient(circle at 50% 30%, #B8EDDE, #32C38E, #23A4D2);
}

.greeting.btn.user {
  background: #2BB4B1;
  cursor: pointer;
  height: 40px;
  width: 100px;
  border-radius: 10px;
  margin-right: 100px;
  margin-left: 80px;
  font-family: Freight Sans Pro, Helvetica, Roboto, Arial, sans-serif;
  color: white;
  font-weight: bold;
}

.greeting.btn.comp {
  background: #7a828e;
  cursor: pointer;
  height: 40px;
  width: 100px;
  border-radius: 10px;
  font-family: Freight Sans Pro, Helvetica, Roboto, Arial, sans-serif;
  color: white;
  font-weight: bold;
}

.alert-result {
  font-family: Freight Sans Pro, Helvetica, Roboto, Arial, sans-serif;
  color: #2BB4B1;
  text-shadow: 2px 2px #7a828e;
}

.winner-header {
  text-align: center;
}

@media (max-width: 923px) {

  .App {
    text-align: center;
    background: #E8F7F6;
    padding-bottom: 270px;
    height: 100%;
  }

  .board-container {
    border: 4px solid grey;
    width: 340px;
    height: 330px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #deb887;
    box-shadow: .5px .5px .7px .7px grey;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
  }

  .sidebar {
    background: transparent;
    position: relative;
    top: auto;
    right: auto;
    margin-left: 20px !important;
  }

  .legend.user {
    display: inline-block;
    padding-right: 30px;
    font-family: Freight Sans Pro, Helvetica, Roboto, Arial, sans-serif;
    font-weight: 700;
    color: #7a828e;
  }

  .legend.comp {
    display: inline-block;
    margin-right: -115px;
    font-family: Freight Sans Pro, Helvetica, Roboto, Arial, sans-serif;
    font-weight: 700;
    color: #7a828e;
  }

  .legend.user.icon {
    padding: 10px;
  }

  .legend.comp.icon {
    padding: 10px;
  }

  .cell {
    border: 1px solid black;
    background: #E8F7F6;
    border-radius: 100%;
    display: inline-block;
    padding: 35px;
    margin: 5px;
    cursor: pointer;
    transition: .25s all;
    box-shadow: .1px .1px .1px .1px inset;
  }

  .cell:active{
    padding: 34.5px;
    margin: 5.5px;
  }

  .cell:hover {
    border: 1px solid yellow;
  }

  .greeting.btn.user {
    margin-right: 70px;
    margin-left:50px;
  }

  .alert-header {
    font-size: 24px;
    padding: 10px;
  }
}
