.App {
  text-align: center;
  background: #E8F7F6;
  padding-bottom: 5%;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background: #E8F7F6;
  overflow-x: hidden;
  padding-top: 20px;
}

.board-container {
  border: 4px solid grey;
  width: 430px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #deb887;
  box-shadow: .5px .5px .7px .7px grey;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  padding-top: 5%;
}

.title{
  font-family: Freight Sans Pro, Helvetica, Roboto, Arial, sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #27A8B0;
  margin-top: 5px;
}

.cell {
  border: 1px solid black;
  background: #E8F7F6;
  border-radius: 100%;
  display: inline-block;
  padding: 40px;
  margin: 5px;
  cursor: pointer;
  transition: .25s all;
  box-shadow: .1px .1px .1px .1px inset;
}

.cell:hover {
  border: 1px solid yellow;
}

.cell:active{
  padding: 38.5px;
  margin: 6.5px;
}

.cell.comp {
  background: radial-gradient(circle at 50% 30%, #898695, #484453, #484453);
  /* background: linear-gradient(to right, #484453, #898695); */
}

.cell.p1 {
  background: radial-gradient(circle at 50% 30%, #B8EDDE, #32C38E, #23A4D2);
  /* background: linear-gradient(to right, #32C38E, #229CC1); */
}

.legend.user {
  border: 1px solid black;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 30%, #B8EDDE, #32C38E, #23A4D2);
  display: inline-block;
  padding: 10px;
  margin: 0px;
  font-family: Freight Sans Pro, Helvetica, Roboto, Arial, sans-serif;
}

.legend.comp {
  border: 1px solid black;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 30%, #898695,#484453, #484453);
  display: inline-block;
  padding: 10px;
  margin: 0px;
  font-family: Freight Sans Pro, Helvetica, Roboto, Arial, sans-serif;
}
